.c-badge {
   @include border-radius('all', 50%);
   position: absolute;
   min-width: 20px;
   min-height: 20px;
   padding: 4px 3px 3px;
   margin-left: 2px;
   font-size: 11px;
   font-weight: bold;
   color: $white;
   text-align: center;
   background-color: $red;
   opacity: 0.95;
   &.-over {
      @include border-radius('all', 20%);
   }
   &.-public {
      top: 36px;
      right: 21px;
   }
   &.-direct {
      top: 34px;
      right: 21px;
   }

   &__mark {
      @include border-radius('all', 50%);
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $red;
      opacity: 0.95;
      &.-public {
         top: 9px;
         left: 30px;
      }
      &.-direct {
         top: 9px;
         left: 30px;
      }
      &.-notification {
         top: -4px;
         left: 7px;
      }
   }
}
