// **********************************
// ボタン コンポーネント
// **********************************
.c-btn {
   @include border-radius;
   display: inline-block; // inline要素（aタグなど）であることも踏まえてinline-blockで指定
   color: $black;
   text-align: center;
   text-decoration: none;
   white-space: nowrap;
   cursor: pointer;
   background-color: transparent;
   border: none;
   &:focus {
      outline: none;
   }
}

// linkのデフォルト設定を変更
.c-link {
   color: $black;
   text-decoration: none;
   cursor: pointer;
}

// メッセージ送信用ボタン
.c-msgSendBtn {
   position: absolute;
   padding: 5px 10px;
   font-size: 13px;
   color: $white;
   background-color: $primary;
   & > i {
      margin-right: 2px;
      font-size: 13px;
      color: $white;
   }
}

// 認証ボタン（ログイン画面・ユーザー登録画面・パスワードリセット）
.c-authSendBtn {
   display: block;
   padding: 10px 20px;
   margin: 20px auto 0;
   font-size: 14px;
   color: $white;
   background-color: $primary;
   @include mq('3xs') {
      font-size: 13px;
   }
}
