// **********************************
// フォーム コンポーネント
// **********************************
.c-form {
   &__input {
      @include letter-settings;
      @include border-radius;
      padding: 10px;
      margin-bottom: 5px;
      font-size: 13px;
      border: 1px solid $gray-400;
      @include mq('xs') {
         font-size: 13px;
      }
      &.is-invalid {
         border: 1px solid $red;
         &:focus {
            outline-color: $red;
         }
      }
      &:focus {
         outline-color: $primary;
      }
   }
   &__description {
      margin-bottom: 2px;
      font-size: 12px;
      color: $gray-600;
      text-align: right;
      &.-empty {
         margin-top: 12px;
      }
      & > br {
         display: none;
      }
      @include mq('xs') {
         line-height: 1.3;
         text-align: right;
         & > br {
            display: block;
         }
      }
   }
   &__invalid {
      font-size: 13px;
      color: $red;
      @include mq('md') {
         font-size: 12px;
      }
      &.-image {
         margin-bottom: 5px;
         text-align: center;
      }
   }
   &__error {
      display: inline-block;
      &.-priceLower {
         margin-bottom: 5px;
      }
   }
   &__textarea {
      @include letter-settings;
      @include border-radius;
      min-height: 60px;
      padding: 15px;
      margin-bottom: 5px;
      font-size: 13px;
      resize: vertical;
      border: 1px solid $gray-400;
      @include mq('xs') {
         font-size: 13px;
      }
      &:focus {
         outline-color: $primary;
      }
      &.is-invalid {
         border: 1px solid $red;
         outline-color: $red;
      }
   }
}
