.c-guestLogin {
   @include border-radius('all', 50px);
   position: absolute;
   right: 0;
   padding: 12px 15px;
   font-size: 14px;
   background-color: #bedcfd;
   border: none;
   &:focus {
      outline: none;
   }
   &.-welcome {
      top: 30px;
      right: 30px;
      @include mq('xs') {
         top: 6px;
         right: 10px;
      }
   }
   &.-login,
   &.-register {
      top: -50px;
      @include mq('xs') {
         top: -30px;
      }
   }
   @include mq('xs') {
      padding: 5px 8px;
      font-size: 11px;
   }
}
