// **********************************
// ページネーション
// **********************************
.c-pagination {
   @include flex-center;
   margin-top: 25px;
   &__btn {
      @include border-radius;
      padding: 8px 15px;
      margin: 0 20px;
      font-size: 14px;
      color: white;
      background-color: $primary;
      &.-disabled {
         pointer-events: none;
         background-color: $gray-500;
      }
   }
}
