// **********************************
// ダイレクトメッセージ画面
// **********************************
// 継承（親クラス）
%dm__msg {
   @include border-radius('all', 5px);
   @include letter-settings;
   position: relative;
   width: 75%;
   padding: 10px 15px;
   font-size: 13px;
   word-break: break-all;
   white-space: pre-wrap;
   @include mq('3xs') {
      width: 80%;
      padding: 10px;
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.5px;
   }
   &::before {
      position: absolute;
      bottom: 8px;
      display: block;
      content: '';
      border-style: solid;
   }
   & > time {
      position: absolute;
      bottom: -15px;
      font-size: 12px;
      color: #495057;
      white-space: nowrap;
   }
}

// ダイレクトメッセージ
.p-dm {
   @include mq('xs') {
      padding: 0;
   }
   & > .container {
      @include mq('xs') {
         padding: 0;
      }
   }
   &__h1 {
      @include mq('xs') {
         display: none;
      }
   }
   &__msgSec {
      display: flex;
      flex-direction: column;
      background-color: $white;
      border: 1px solid $gray-100;
   }
   &__h2sec {
      margin: 0;
   }
   &__h2 {
      @include flex-center;
      padding: 10px 50px;
      border-bottom: 1px solid $white;
      @include mq('3xs') {
         padding: 9px 10px 7px;
      }
      &.-myWork {
         background-color: $primary-light;
      }
   }
   &__h2AllInfoWrap {
      width: 70%;
      @include mq('lg-md') {
         width: 80%;
      }
      @include mq('md') {
         width: 90%;
      }
      @include mq('xs') {
         width: 100%;
      }
      @include flex-center;
      & > img {
         width: 45px;
         height: 45px;
         @include mq('3xs') {
            width: 30px;
            height: 30px;
         }
      }
   }
   &__h2InfoWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10px;
      font-size: 13px;
      text-align: left;
      word-break: break-all;
      @include mq('xs') {
         font-size: 12px;
      }
   }
   &__h2InfoName {
      margin-bottom: 2px;
      font-weight: bold;
   }
   &__h2InfoOrderName {
      line-height: 1.1;
      @include mq('3xs') {
         font-size: 11px;
      }
   }
   &__msgArea {
      flex-basis: 85%;
      min-height: 55vh;
      max-height: 55vh;
      overflow: scroll;
      overflow-x: hidden;
   }
   &__msgYou {
      @extend %dm__msg; // 継承
      margin: 20px auto 40px 30px;
      background: $gray-200;
      @include mq('3xs') {
         margin: 15px auto 30px 20px;
      }
      &::before {
         left: -12px;
         border-color: transparent $gray-200 transparent transparent;
         border-width: 10px 15px 10px 0;
         @-moz-document url-prefix() {
            display: none;
         }
      }
      & > time {
         right: 0;
      }
   }
   &__msgMe {
      @extend %dm__msg; // 継承
      margin: 20px 30px 40px auto;
      color: $white;
      background: #2991d2;
      @include mq('3xs') {
         margin: 15px 20px 30px auto;
      }
      &::before {
         right: -12px;
         border-color: transparent transparent transparent #2991d2;
         border-width: 10px 0 10px 15px;
         @-moz-document url-prefix() {
            display: none;
         }
      }
      & > time {
         left: 0;
      }
   }
   // フォーム
   &__form {
      // @include flex-center;
      @include border-radius('bottom');
      flex-basis: 15%;
      flex-direction: column;
      padding: 15px 30px;
      margin: 0;
      background: $gray-400;
      @include mq('xs') {
         padding: 10px 15px;
      }
      &.-myWork {
         background-color: $primary-light;
      }
   }
   &__textarea {
      width: 100%;
      border: none;
      @include mq('3xs') {
         padding: 10px;
         font-size: 12px;
      }
   }
   &__sendBtn {
      position: initial;
      display: block;
      margin: 0 0 0 auto;
      &.is-invalid {
         margin-top: -18px;
      }
   }
}
