// **********************************
// パブリックメッセージ
// **********************************
.p-pubmsg {
   &__body {
      padding: 20px;
      @include mq('xs') {
         padding: 20px 15px;
      }
      @include mq('2xs') {
         padding: 15px 10px;
      }
   }

   // 掲示板の作成
   &__createMsgForm {
      position: relative;
      margin-bottom: 50px;
      & > input {
         width: 100%;
         padding: 10px 15px;
         margin-bottom: 3px;
      }
      & > textarea {
         width: 100%;
         min-height: 200px;
         padding: 15px;
         margin-top: 10px;
         margin-bottom: 3px;
         font-size: 13px;
         @include mq('xs') {
            font-size: 12px;
         }
      }
   }

   // 親_掲示板
   &__parentWrap {
      @include border-radius;
      position: relative;
      margin-bottom: 15px;
      background-color: $gray-200;
   }
   &__parentDate {
      position: absolute;
      top: 21px;
      right: 24px;
      font-size: 14px;
      color: $gray-700;
      @include mq('xs') {
         font-size: 13px;
      }
      @include mq('3xs') {
         right: 20px;
         font-size: 12px;
      }
   }
   &__parentMsgWrap {
      @include border-radius;
      display: flex;
      padding: 20px 20px 50px;
      @include mq('md') {
         padding: 20px 20px 50px;
      }
      @include mq('xs') {
         padding: 15px 15px 50px;
      }
      @include mq('3xs') {
         padding: 15px 12px 50px;
      }
   }
   &__parentImg {
      width: 60px;
      height: 60px;
      margin-right: 8px;
      @include mq('md') {
         display: none;
      }
   }
   &__parentRight {
      width: 90%;
   }
   &__parentName {
      margin-bottom: 5px;
      font-size: 12px;
      @include mq('xs') {
         font-size: 11px;
      }
      &.-workOwner {
         @include border-radius('all', 10px);
         display: inline-block;
         padding: 5px 10px;
         color: $white;
         background-color: $primary;
         @include mq('xs') {
            padding: 4px 8px;
         }
      }
   }
   &__parentTitle {
      margin-bottom: 7px;
      font-weight: bold;
      word-break: break-all;
      @include mq('xs') {
         font-size: 15px;
      }
   }
   &__parentContent {
      @include letter-settings;
      margin: 0;
      margin-bottom: 13px;
      font-size: 13px;
      word-break: break-all;
      white-space: pre-wrap;
      @include mq('xs') {
         font-size: 12px;
      }
   }
   &__parentBtn {
      position: initial;
      display: block;
      margin: 0 0 0 auto;
      &.is-invalid {
         margin-top: -16px;
      }
   }

   // 子_掲示板
   &__childWrap {
      @include border-radius;
      position: relative;
      display: flex;
      padding: 15px;
      margin-bottom: -1px;
      background-color: $white;
      border: 1px solid $gray-300;
      @include mq('3xs') {
         padding: 15px 12px;
      }
   }
   &__childDate {
      position: absolute;
      top: 13px;
      right: 18px;
      padding: 5px 10px;
      font-size: 12px;
      color: $gray-600;
      @include mq('3xs') {
         right: 5px;
         font-size: 11px;
      }
   }
   &__childImg {
      width: 45px;
      height: 45px;
      margin-right: 8px;
      @include mq('md') {
         display: none;
      }
   }
   &__childRight {
      width: 88%;
   }
   &__childName {
      margin-bottom: 5px;
      font-size: 11px;
      &.-workOwner {
         @include border-radius('all', 10px);
         display: inline-block;
         padding: 5px 10px;
         color: $white;
         background-color: $primary;
      }
   }
   &__childContent {
      @include letter-settings;
      margin: 0;
      font-size: 13px;
      word-break: break-all;
      white-space: pre-wrap;
      @include mq('xs') {
         font-size: 12px;
      }
   }
   &__childForm {
      position: relative;
   }
   &__childTextarea {
      width: 100%;
      min-height: 90px;
      padding: 15px;
      margin-bottom: 0;
      font-size: 13px;
      border: 1px solid $gray-300;
      @include mq('xs') {
         font-size: 12px;
      }
   }
   &__childBtn {
      position: initial;
      display: block;
      margin: 2px 0 0 auto;
      &.is-invalid {
         margin-top: -14px;
      }
   }
}
