// **********************************
// 仕事登録・編集画面
// **********************************
.p-workForm {
   &__body {
      padding: 50px;
      @include mq('xs') {
         padding: 30px 20px;
      }
      @include mq('3xs') {
         padding: 20px 10px;
      }
   }
   &__imgWrap {
      @include flex-center;
      margin-bottom: 15px;
   }
   &__img {
      width: 130px;
      height: 130px;
   }
   &__wrap {
      display: flex;
      padding: 10px;
      @include mq('md') {
         flex-direction: column;
         padding: 0;
      }
      &.-price {
         margin-top: -63px;
         visibility: hidden;
         opacity: 0;
         transition: 0.2s;
         @include mq('xs') {
            margin-top: -100px;
         }
         &.is-active {
            margin-top: 10px; // margin:100px;から0pxにすることで表示している
            visibility: visible;
            opacity: 1;
            transition: 0.2s;
            @include mq('xs') {
               margin-top: 0;
            }
         }
      }
   }
   &__label {
      position: relative;
      display: block;
      width: 25%;
      margin-top: 10px;
      font-size: 14px;
      &.-work {
         margin-top: 37px;
         @include mq('md') {
            margin-top: 0;
            margin-bottom: -11px; // ラベルと説明書きの位置調整
         }
      }
      &.-price {
         @include mq('xs') {
            margin-bottom: 23px;
         }
      }
      &.-orderContent {
         margin-top: 27px;
         @include mq('md') {
            margin-top: 10px;
            margin-bottom: -10px; // ラベルと説明書きの位置調整
         }
      }
      @include mq('md') {
         width: 100%;
         margin-bottom: 3px;
         font-size: 13px;
      }
      & > span {
         margin-left: 5px;
         font-size: 12px;
         color: $red;
      }
   }
   &__inputWrap {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 75%;
      @include mq('md') {
         width: 100%;
         margin-bottom: 10px;
      }
      &.-price {
         &::before {
            position: absolute;
            top: -15px;
            left: 2px;
            font-size: 12px;
            color: $gray-600;
            content: '※ 最大設定金額は1000千円まで（単位は「千円」）';
            @include mq('md') {
               left: 80px;
            }
            @include mq('xs') {
               left: 3px;
            }
         }
      }
   }
   &__priceWrap {
      & > span {
         margin: 0 5px;
         font-size: 14px;
         color: black;
      }
   }
   &__input {
      background-color: $white;
      @include mq('md') {
         font-size: 13px;
      }
      &.-work {
         width: 100%;
      }
      &.-email {
         width: 70%;
         @include mq('md') {
            width: 100%;
         }
      }
      &.-endDate,
      &.-hopeDate,
      &.-contract {
         width: 70%;
         @include mq('md') {
            width: 100%;
         }
      }
      &.-price {
         width: 30%;
         @include mq('md') {
            & + span {
               font-size: 13px;
            }
         }
      }
   }
   &__textarea {
      @include mq('md') {
         font-size: 13px;
      }
   }
   &__editBtn {
      display: block;
      padding: 10px 40px;
      margin: 20px auto 0;
      font-size: 14px;
      color: #fff;
      background-color: #0081ff;
   }
}
