// **********************************
// sidebar（サイドバー）
// **********************************
// sidebarのレイアウトを定義
// 詳細のCSS定義については、「_p-sidebar.scss」で定義
// レイアウト(l-*)とプロジェクト(p-*)で分割する理由
// - ①構造（レイアウト）と詳細（プロジェクト）を分けることでコードの見通しを良くするため
// - ②詳細をプロジェクト(p-*)で定義すれば、コンポーネント(c-*)を使用できるため

.l-side {
   width: 25%;
   @include mq('xs') {
      display: none;
      // 「アカウント設定」画面の設定
      &.-settings {
         display: block;
         width: 100%;
      }
   }
}
