// **********************************
// ログイン画面
// **********************************
.p-login {
   padding-top: 8vh;
   &__body {
      padding: 50px;
      @include mq('xs') {
         padding: 40px;
      }
      @include mq('2xs') {
         padding: 30px;
      }
      @include mq('3xs') {
         padding: 30px 20px;
      }
   }
   &__inputWrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
   }
   &__rememberWrap {
      display: flex;
      font-size: 13px;
   }
   &__remember {
      margin-right: 3px;
   }
   &__passReminder {
      position: absolute;
      right: 0;
      bottom: -23px;
      font-size: 12px;
      color: $gray-700;
      @include mq('xs') {
         right: 10px;
      }
   }
}
